<script id="bookmarkListTemplate" type="text/x-jquery-tmpl">
  <tr>
    <td>${$data["bookmark"]["tag"]}</td>
    <td>${$data["bookmark"]["title"]}</td>
    <td>${$data["bookmark"]["description"]}</td>
  </tr>
</script>

<h1>Listing bookmarks</h1>

<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= form_tag bookmarks_path, :method => 'get', :id => 'bookmarks_search' do %>
  <p>
    <%= text_field_tag(:search, params[:serach]) %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<%= paginate @bookmarks -%>

<div id="bookmarks">
  <%= render "bookmarks" %>
</div>

<%= link_to 'New Bookmark', new_bookmark_path %>
